@using System.Globalization
@model SFA.DAS.EmployerUsers.Support.Core.Domain.Model.EmployerUser

<h1 class="heading-large">Employer User</h1>

@if (Model != null)
{
    <dl class="definition-list">
        <dt>Name:</dt>
        <dd>@Model.FirstName @Model.LastName</dd>
        <dt>Email:</dt>
        <dd><a href="mailto:@Model.Email">@Model.Email</a></dd>
        <dt class="last-dt">Status:</dt>
        <dd class="last-dd">@Model.Status</dd>
    </dl>
    <hr />
    <h2 class="heading-medium">Associated Employer Accounts</h2>

    if (Model.Accounts.Any())
    {
        <table class="responsive">
            <thead>
                <tr>
                    <td scope="col" class="">DAS Account Name</td>
                    <td scope="col" class="">Date Registered</td>
                    <td scope="col" class="">Owner Email</td>
                    <td scope="col" class="">Action</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Accounts)
                {
                    var registered = item.DateRegistered == DateTime.MinValue ? "N/a" : item.DateRegistered.ToString(CultureInfo.InvariantCulture);
                    var email = string.IsNullOrWhiteSpace(item.OwnerEmail) ? "N/a" : item.OwnerEmail;
                    <tr>
                        <td data-label="DAS Account Name" id="DasAccountName">@item.DasAccountName</td>
                        <td data-label="Date Registered" id="DateRegistered">@registered</td>
                        <td data-label="Owner Email" id="OwnerEmail">@email</td>
                        @if (Model.AccountsUri != null)
                        {
                            <td class=""><a href="@string.Format(Model.AccountsUri, item.HashedAccountId)">View</a></td>
                        }
                        else
                        {
                            <td></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div>No Accounts found for this user!</div>
    }
}
else
{
    <div>User not found</div>
}
